1. Tentukan library digunakan

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

2. Load Dataset

In [3]:
kidney_stone_dataset = pd.read_csv('kidney_stone.csv')

In [4]:
kidney_stone_dataset.head()

   gravity    ph  osmo  cond  urea  calc  target
0    1.021  4.91   725  14.0   443  2.45       0
1    1.017  5.74   577  20.0   296  4.49       0
2    1.008  7.20   321  14.9   101  2.36       0
3    1.011  5.51   408  12.6   224  2.15       0
4    1.005  6.52   187   7.5    91  1.16       0

In [5]:
kidney_stone_dataset.isnull()

    gravity     ph   osmo   cond   urea   calc  target
0     False  False  False  False  False  False   False
1     False  False  False  False  False  False   False
2     False  False  False  False  False  False   False
3     False  False  False  False  False  False   False
4     False  False  False  False  False  False   False
..      ...    ...    ...    ...    ...    ...     ...
74    False  False  False  False  False  False   False
75    False  False  False  False  False  False   False
76    False  False  False  False  False  False   False
77    False  False  False  False  False  False   False
78    False  False  False  False  False  False   False

[79 rows x 7 columns]

In [6]:
kidney_stone_dataset.shape

(79, 7)

In [7]:
kidney_stone_dataset['target'].value_counts()

0    45
1    34
Name: target, dtype: int64

In [8]:
# memiahkan data dan label
X = kidney_stone_dataset.drop (columns='target',axis=1)
Y = kidney_stone_dataset['target']

In [9]:
print(X)

    gravity    ph  osmo  cond  urea   calc
0     1.021  4.91   725  14.0   443   2.45
1     1.017  5.74   577  20.0   296   4.49
2     1.008  7.20   321  14.9   101   2.36
3     1.011  5.51   408  12.6   224   2.15
4     1.005  6.52   187   7.5    91   1.16
..      ...   ...   ...   ...   ...    ...
74    1.025  7.90   721  23.6   301   9.04
75    1.017  4.81   410  13.3   195   0.58
76    1.024  5.40   803  21.8   394   7.82
77    1.016  6.81   594  21.4   255  12.20
78    1.015  6.03   416  12.8   178   9.39

[79 rows x 6 columns]

In [10]:
print(Y)

0     0
1     0
2     0
3     0
4     0
     ..
74    1
75    1
76    1
77    1
78    1
Name: target, Length: 79, dtype: int64

3. Memisahkan data Training dan data Testing

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [12]:
print(X.shape, X_train.shape, X_test.shape)

(79, 6) (63, 6) (16, 6)

4. Membuat data latih menggunakan algoritma svm

In [13]:
classifier = svm.SVC(kernel='linear')

In [14]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

5. membuat model evaluasi untuk mengukur tingkat akurasi

In [15]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [16]:
print('Akurasi data training adalah =', training_data_accuracy)

Akurasi data training adalah = 0.8095238095238095

In [17]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [18]:
print('Akurasi data testing adalah=', test_data_accuracy)

Akurasi data testing adalah= 0.6875

6. Membuat model prediksi

In [ ]:
input_data = (0,15.2,27,32.4,71.6)

input_data_as_numpy_array = np.array(input_data)

input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshape)
print(prediction)

if (prediction[0] == 0):
    print('Pasien tidak mengidap batu ginjal')
else :
    print('Pasien mengidap batu ginjal')